.pre-loader {
  position: fixed;
  top: 50%;
  width: 100%;
}

.inner-pre-loader{
  top: 50%;
  width: 100%;
  margin: 20% 0;
}

.user-avatar-multiple .user-avatar:nth-child(2) {
  bottom: 0;
  left: 0;
}
.user-avatar-multiple .user-avatar {
  position: absolute;
  height: 70%;
  width: 70%;
  font-size: 80%;
  border: 2px solid #fff;
}

.user-avatar, [class^="user-avatar"]:not([class*="-group"]) {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #161616;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06em;
  flex-shrink: 0;
  position: relative;
}

.user-avatar .status, [class^="user-avatar"]:not([class*="-group"]) .status {
  border: 2px solid #fff;
  position: absolute;
  bottom: 0;
  right: -10px;
}

.dot-lg {
  height: 12px;
  width: 12px;
}
.dot {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.dot .ni {
  font-size: 20px;
  line-height: 1.3;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
  color: #1ee0ac !important;
  border-color: #1ee0ac !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #1ee0ac !important;
  border-color: #1ee0ac !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #1ee0ac !important;
  background: #fff;
  border-color: #1ee0ac !important;
}
.ant-radio-button-wrapper:hover {
  position: relative;
  color: #1ee0ac !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #1ee0ac;
}

.tb-ballot-item-info{
  width: 60%;
}